@charset "ISO-8859-1";

body{
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

.navbar{
	background-color: #333;
	overflow: hidden;
	height: 60px;
}

.navbar a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar ul{
	margin: 8px 0 0 0;
	list-style: none;
}

.navbar a:hover{
	background-color: #e10000;
}

.side-navbar{
	height: 100%;
	width:0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.side-navbar a{
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22px;
	color: #ccc;
	display: block;
	transition: 0.3s;
}

.side-navbar .btn-close{
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
}

.side-navbar:hover{
	opacity: 1;
}

.login{
	float: right;
}

.heading{
	color: white;
	text-align: center;
	font-size: 40px;
}

.qty{
	text-align: center;
	display: block;
	width: 100%;
	margin: auto;
	font-size: 60px;
}

button{
	color: #333;
	background-color: #d3d3d3;
	border: none;
	display: block;
	float: left;
	text-decoration: none;
	font-size: 60px;
	width: 50%;
	height: auto;
	font-weight: bold;
	text-align: center;
}

.redButton{
	opacity: 0.7;
}

.greenButton{
	opacity: 0.7;
}

.redButton:hover{
	opacity: 1;
}

.greenButton:hover{
	opacity: 1;
}

#main{
	transition: margin-left 0.5s;
	padding: 20px;
	overflow: hidden;
	width: 100%;
}

input{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}


input[type="radio"]{
	width: 30px;
	height: 30px;
}

textarea{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	width: 60%;
}

img{
	margin: 0;
	padding: 0;
	float: left;
}

#google_sheet{
	border: 0px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f00000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

@media(max-width:568px){
	.open-slide{display:none}
}
